<h3>Friend Request Accepted</h3>

<p>Dear <%= @sender.name %></p>

<p>
  <%= @friend.name %> has accepted your friend request and has been added to your <%= link_to "MyGoons", root_path %> network.
</p>

<p>
  Thanks
</p>
