<h3>Friend Request</h3>

<p>Dear <%= @potential_friend.name %></p>
<p>Your <%= link_to "MyGoons", root_path %> network is about to get bigger and better</p>
<p><%= @sender.name %> will like to connect with you.</p>
<p>Thanks</p>
